<link rel="stylesheet" href="../../../statics/css/element-ui-index.css">
<link rel="stylesheet" href="../../../statics/css/app.css">
<link rel="stylesheet" href="../../../statics/css/gift.css">

<div id="app" v-cloak>
    <el-row>
        <el-button @click="createGift = true" type="primary" icon="el-icon-plus">新建</el-button>
    </el-row>
    <el-dialog
            title="新建礼品"
            :visible.sync="createGift"
            width="35%"
            :before-close="cancelCreate">
        <el-row>
            <el-form ref="form" :rules="rules" ref="ruleForm" :model="gift" label-width="80px">
                <el-form-item label="名称" prop="name">
                    <el-input v-model="gift.name"></el-input>
                </el-form-item>
                <el-form-item label="数量" prop="num">
                    <el-input v-model="gift.num"></el-input>
                </el-form-item>
                <el-form-item label="礼品类型" prop="type">
                    <el-radio-group v-model="gift.type">
                        <el-radio :label="1">红包</el-radio>
                        <el-radio :label="2">商品</el-radio>
                        <el-radio :label="3">话费</el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="状态" prop="status">
                    <el-radio-group v-model="gift.status">
                        <el-radio :label="1">上架</el-radio>
                        <el-radio :label="2">下架</el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="描述">
                    <el-input
                            type="textarea"
                            :rows="4"
                            placeholder=""
                            v-model="gift.des">
                    </el-input>
                </el-form-item>
                <el-form-item label="图片上传" prop="attachments">
                    <el-upload
                            class=""
                            :action="cos.domain"
                            :on-preview="uploadPreview"
                            :on-remove="uploadRemove"
                            :http-request="upload"
                            :file-list="gift.attachments"
                            limit="9"
                            list-type="picture">
                        <el-button size="small" type="primary">点击上传</el-button>
                        <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过2M，限制9张图片</div>
                    </el-upload>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="submitGift">立即创建</el-button>
                    <el-button @click="createGift = false">取消</el-button>
                </el-form-item>
            </el-form>
        </el-row>
    </el-dialog>
    <br>
    <el-table :data="giftList" v-bind:style="{ width: '100%', height:  height+ 'px' }">
        <el-table-column fixed prop="Name"  label="名称"></el-table-column>
        <el-table-column prop="Num"             label="数量"></el-table-column>
        <el-table-column prop="Type"            label="类型"></el-table-column>
        <el-table-column prop="Des"             label="简介"></el-table-column>
        <el-table-column prop="Attachments"       label="图片">
            <template slot-scope="scope">
                <img :src="scope.row.Attachments[0]" width="40" height="40" class="head_pic"/>
            </template>
        </el-table-column>
        <el-table-column prop="CreatedAt"       label="创建日期"></el-table-column>
        <el-table-column fixed="right" label="操作" fixed>
            <template slot-scope="scope">
                <el-button @click.native.prevent="deleteRow(scope.$index, tableData)" type="text" size="small">
                    删除
                </el-button>
            </template>
        </el-table-column>
    </el-table>

</div>


<script src="../../../statics/js/vue.min.js"></script>
<script src="../../../statics/js/element-ui-index.js"></script>
<script src="../../../statics/js/axios.min.js"></script>
<script src="../../../statics/js/cos-js-sdk-v5.min.js"></script>
<script src="../../../statics/js/util.js"></script>
<script src="../../../statics/js/gift.js"></script>